<!-- WIDGET:Filter - START -->
{% load staticfiles %}
{% load static %}
<div>
    <div class="panel panel-filter">
        <div class="panel-heading filter-label"><strong>MODALIDAD</strong></div>
        <table class="table no-padding">
            <tr>
                <td class="no-padding" ><button class= "btn btn-danger btn-block" ng-click="swich_cash()"> Cash </button></td>
                <td class="no-padding" ><button class= "btn btn-danger btn-block" ng-click="swich_sng()"> Sit And Go</button></td>
                <td class="no-padding" ><button class= "btn btn-danger btn-block" ng-click="swich_mtt()"> MTT</button></td>
                <td class="no-padding" ><button class= "btn btn-danger btn-block" ng-click="swich_software()"> Software </button></td>
                <td class="no-padding"><button class= "btn btn-danger btn-block" ng-click="swich_all()"> Todos </button></td>
            </tr>
        </table>
    </div>
     <div class="panel panel-filter" ng-if="ModeSelected(modes)">
        <div class="panel-heading filter-label" ng-if="ModeSelected(modes)">Sub-Modalidad</div>
        <table class="table filter-table" >
            <tr class="filter-row" ng-if="modes.cash">
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="nl_deep_stack" type="checkbox" data-ng-model='cash_submodes.nl_deep_stack'>
                        <label for="nl_deep_stack">NL Deep Stack</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="nl_multistack" type="checkbox" data-ng-model='cash_submodes.nl_multistack'>
                        <label for="nl_multistack">NL Multistack</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="nl_cap" type="checkbox" data-ng-model='cash_submodes.nl_cap'>
                        <label for="nl_cap">NL CAP</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="plo_deep_stack" type="checkbox" data-ng-model='cash_submodes.plo_deepstack'>
                        <label for="plo_deep_stack">PLO Deep Stack</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="plo_multistack" type="checkbox" data-ng-model='cash_submodes.plo_multistack'>
                        <label for="plo_multistack">PLO MultiStack</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="plo_hu" type="checkbox" data-ng-model='cash_submodes.plo_hu'>
                        <label for="plo_hu">PLO Heads Up</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
            </tr>
            <!-- Sub modalidades de Juego: SNG -->
            <tr ng-if="modes.sng" class="filter-row">
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="sng_normal" type="checkbox" data-ng-model='sng_submodes.normal'>
                        <label for="sng_normal">SNG Normal</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="sng_turbo" type="checkbox" data-ng-model='sng_submodes.turbo'>
                        <label for="sng_turbo">SNG Turbo</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="sng_hyperturbo"type="checkbox" data-ng-model='sng_submodes.hyperturbo'>
                        <label for="sng_hyperturbo">SNG HyperTurbo</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox filter-checkbox">  
                        <input id="sng_spin_and_go" type="checkbox" data-ng-model='sng_submodes.spin_and_go'>
                        <label for="sng_spin_and_go" >SNG Spin And Go</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
            </tr>
            <!-- Sub modalidades de Juego: MTT -->
            <tr ng-if="modes.mtt" class="filter-row">
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="mtt_normal" type="checkbox" data-ng-model='mtt_submodes.normal'>
                        <label for="mtt_normal">MTT Normal</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="mtt_sng" type="checkbox" data-ng-model='mtt_submodes.sng'>
                        <label for="mtt_sng">MTT Sit And Go</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
                <td class="filter-td">
                    <div class="checkbox">  
                        <input id="mtt_satelite"type="checkbox" data-ng-model='mtt_submodes.satelite'>
                        <label for="mtt_satelite">MTT Satelite</label>
                        <!--span>[12]</span--> 
                    </div>
                </td>
            </tr>
        </table>
            <!-- Sub modalidades de Juego: SOFTWARE -->
    </div>
        <!-- Software -->
        <div class="panel panel-filter"  ng-if="modes.software">
            <div class="panel-heading filter-label">Software</div>
              <table class="table filter-table">
                <tr class="filter-row">
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="snowie" type="checkbox" data-ng-model='software.snowie'>
                            <label for="snowie"> Snowie </label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="hold_them_manager" type="checkbox" data-ng-model='software.hold_them_manager'>
                            <label for="hold_them_manager">Hold Them Manager</label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="cr_ev"type="checkbox" data-ng-model='software.cr_ev'>
                            <label for="cr_ev">CR EV</label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="flopzilla" type="checkbox" data-ng-model='software.flopzilla'>
                            <label for="flopzilla">FlopZilla</label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="p_simple" type="checkbox" data-ng-model='software.posolver_simple'>
                            <label for="p_simple">Posolver Simple</label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                    <td class="filter-td">
                        <div class="checkbox">  
                            <input id="ht_res"type="checkbox" data-ng-model='software.hold_them_resources'>
                            <label for="ht_res">HT Resources</label>
                            <!--span>[12]</span--> 
                        </div>
                    </td>
                </tr>
             </table>
        </div>
</div>