    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}
    <!-- ==========================
    	JUMBOTRON - START
    =========================== -->
    <section class="content jumbotron jumbotron-full-height">
        <div id="homepage-2-carousel" class="nav-inside">
            <div class="item slide-1">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                        <h1>Entrena con los <span class="color">MEJORES</span></h1>
                        <h2>Lleva tu juego al siguiente nivel con pCoaches.</h2>
                        <a href="" class="btn btn-default btn-lg">Saber más</a>
                        <a href="coacheslist/" class="btn btn-inverse btn-lg">COACHES</a>
                    </div>
                </div>
            </div>
            <div class="item slide-2">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                    	<h1 class="grey-background">Una comunidad única en el mundo del Poker</h1>
                        <div><h2 class="color-background">pCoaches</h2></div>
                        <ul class="list-unstyled">
                        	<li><i class="fa fa-check"></i>Coaches para TODOS los niveles</li>
                            <li><i class="fa fa-check"></i>Clases en más de 12 idiomas y 49 paises</li>
                            <li><i class="fa fa-check"></i>Sin fees adicionales</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	JUMBOTRON - END
    =========================== -->

    <!-- ==========================
    	SERVICES - START
    =========================== -->
    <section class="content services services-3x border-top border-bottom">
        <div class="container">
        	<div class="row row-no-padding">

            	<!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-trophy"></i>
                        <h3>APRENDE DE LA MANO DE UN JUGADOR PROFESIONAL</h3>
                        <p>Rcibe clases de los verdaderos profesionales.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-rocket"></i>
                        <h3>LLEVA TU JUEGO AL SIGUIENTE NIVEL</h3>
                        <p>Revoluciona tu arte de jugar, supera a tus mentores y triunfa en el juego.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-users"></i>
                        <h3>ACCEDE A UNA COMUNIDAD ÚNICA</h3>
                        <p>Conoce a profesionales del poker de todos los rincónes del mundo.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

        </div>
    </section>
<!-- ==========================
        SERVICES - END
    =========================== -->

    <!-- ==========================
        CATEGORIES - START
    =========================== -->
    <section class="content categories">
        <div class="row row-no-padding">

            <!-- CATEGORY - START -->
            <div class="col-xs-3">
                <div class="category">
                    <a href="products.html">
                        <img src="{% static 'images/chips.jpg' %}" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">CASH<span>Ver Más</span></h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-3">
                <div class="category">
                    <a href="products.html">
                        <img src="{% static 'images/chips2.jpg' %}" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">SNG<span>Ver Más</span></h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-3">
                <div class="category">
                    <a href="products.html">
                        <img src="{% static 'images/chips3.jpg' %}" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">MTT<span>Ver Más</span></h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-3">
                <div class="category">
                    <a href="products.html">
                        <img src="{% static 'images/chips.jpg' %}" class="img-responsive" alt="">
                        <div class="category-mask"></div>
                        <h3 class="category-title">Software<span>Ver Más</span></h3>
                    </a>
                </div>
            </div>
            <!-- CATEGORY - END -->

        </div>

    </section>

    <!-- ==========================
    	NOTIFICATION - START
    =========================== -->
    <section class="content pattern notification">
        <div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                    <span>Clases con un 10% de descuento, llegan los Reyes Magos!</span>
                    <a href="#" class="btn btn-default btn-lg">VER MÁS</a>
                </div>
                <div class="col-sm-8">
                    <h3>Poker Summit 2016</h3>
                    <p>A poker tournament is a tournament where players compete by playing poker. It can feature as few as two players playing on a single table (called a "heads-up" tournament), and as many as tens of thousands of players playing on thousands of tables. The winner of the tournament is usually the person who wins every poker chip in the game and the others are awarded places based on the time of their elimination. To facilitate this, in most tournaments, blinds rise over the duration of the tournament. Unlike in a ring game (or cash game), a player's chips in a tournament cannot be cashed out for money and serve only to determine the player's placing.</p>
        		</div>
            </div>
        </div>
    </section>
     <!-- ==========================
    	NOTIFICATION - END
    =========================== -->
    <!-- ===========================
        DVISION IMAGE
    =========================== -->
    <section>
      <div class="row row-no-padding" style="width: 100%; background-color: #000000">
        <img src="{% static 'images/div.jpg' %}">
      </div>
    </section>

    <!-- ===========================
        DVISION IMAGE - END
    =========================== -->
    <!-- ==========================
    	RECENT Trainers - START
    =========================== -->
    <section class="content recent-blog-posts">
        <div class="container">
        	<div class="section-title">
                <h2>Últimos Coaches Registrados</h2>
                <p>Todos los Coaches registrados en pCoaches son profesionales verificados personalmente por nuestro equipo.</p>
            </div>
            <div ng-app="coachApp">
                <div ng-controller="CoachListController">
                    <div class="row">

                            <div ng-repeat="coach in coaches | limitTo:4 ">

                            <div class="col-md-3 col-sm-6" style="text-align: center">
                                <div class="col-md-12 coach-card-index">
                                    {% verbatim %}
                                    <img src="{{coach.image}}" class="img-responsive coach-image-index" alt="">
                                    <div class="product-body">
                                    <h3 class="card-label" style="font-size:16px;font-weight: 600">{{coach.first_name}} {{coach.last_name}}</h3>
                                    <div class="product-rating">
                                        <span class="card-label">Rating: </span>
                                        <i ng-if="coach.rating >= 1" class="fa fa-star"></i>
                                        <i ng-if="coach.rating >= 2" class="fa fa-star"></i>
                                        <i ng-if="coach.rating >= 3" class="fa fa-star"></i>
                                        <i ng-if="coach.rating >= 4" class="fa fa-star"></i>
                                        <i ng-if="coach.rating >= 5" class="fa fa-star"></i>

                                        <i ng-if="coach.rating < 5" class="fa fa-star-o"></i>
                                        <i ng-if="coach.rating < 4" class="fa fa-star-o"></i>
                                        <i ng-if="coach.rating < 3" class="fa fa-star-o"></i>
                                        <i ng-if="coach.rating < 2" class="fa fa-star-o"></i>
                                        <i ng-if="coach.rating < 1" class="fa fa-star-o"></i>
                                    </div>
                                    {% endverbatim %}
                                    <div class="product-rating" >
                                        <span class="card-label">Idiomas: </span>
                                        <img class="flag" ng-if="coach.english" src="{% static 'icons/UnitedKingsom.png' %}">
                                        <img class="flag" ng-if="coach.spanish" class="flag" src="{% static 'icons/Spain.png' %}">
                                        <img class="flag" ng-if="coach.french" src="{% static 'icons/France.png' %}">
                                        <img class="flag" ng-if="coach.russian" src="{% static 'icons/Russia.png' %}">
                                    </div>
                                    {% verbatim %}
                                    <span class="price">
                                        <span class="card-label">Precio/Hora: </span>
                                        <span class="amount">{{coach.price_per_hour}}€</span>
                                    </span>
                                    {% endverbatim %}
                                    <div class="buttons">
                                        <a href="" class="btn btn-danger btn-sm add-to-cart btn-block">Ver Perfil</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
     <!-- ==========================
    	RECENT BLOG POSTS - END
    =========================== -->
{% endblock content %}
